In [ ]:
# Pandas ---> paython data analysis

numpy ---- > pandas

2005 ------ 2008

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\17nru\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
import pandas as pd

In [ ]:
Pandas --->
    1) Data Analysis
    2) Data Exploring
    3) Data Cleaning
    4) Data Manupluation

pandas --> excel, csv (coma seprated values), json.....

In [ ]:
Data Structures in Pandas:

    1) Series
    2) DataFrame

In [ ]:
Series : a single column in a table..

Dataframe : its a collection of series.

In [3]:
usernames = ["kriss", "moris", "hey", "ok", "ayush", "hellow world"]

In [4]:
type(usernames)

list

In [5]:
data = pd.Series(usernames)

In [6]:
data

0           kriss
1           moris
2             hey
3              ok
4           ayush
5    hellow world
dtype: object

In [7]:
data[4]

'ayush'

In [8]:
# chnage indexing

In [9]:
data = pd.Series(
    ["kriss", "moris", "hey", "ok", "ayush", "hellow world"],
    
    index = ['a', 'b', 'z', 'w', 'e', 'h']
)

In [10]:
data

a           kriss
b           moris
z             hey
w              ok
e           ayush
h    hellow world
dtype: object

In [11]:
data['z']

'hey'

In [12]:
# crertae dataframe

In [14]:
df = pd.DataFrame({
    'username' : ["kriss", "moris", "hey", "ok", "ayush", "hellow world"],
    'Age' : [20, 23, 12, 34, 23, 45],
    'phone Number' : [9834856485, 98345845, 87234734, 983648569, 8734574, 782345832]
})

In [15]:
df

       username  Age  phone Number
0         kriss   20    9834856485
1         moris   23      98345845
2           hey   12      87234734
3            ok   34     983648569
4         ayush   23       8734574
5  hellow world   45     782345832

In [16]:
type(df)

pandas.core.frame.DataFrame

In [19]:
x = df["Age"]

In [20]:
type(x)

pandas.core.series.Series

In [ ]:
data frame create:
    2         4          6       8      10
2 x 1 = 2   4 x 1 = 4
2 x 2 = 4   4 x 2 = 8
2 x 3 = 6
.
.
.
.
.
2 x 10 = 20  4 x 10 = 40

In [21]:
def createtable(x):
    lst = []

    for i in range(1, 11):
        lst.append(f"{x} x {i} = {x*i}")

    return lst

In [24]:
createtable(10)

['10 x 1 = 10',
 '10 x 2 = 20',
 '10 x 3 = 30',
 '10 x 4 = 40',
 '10 x 5 = 50',
 '10 x 6 = 60',
 '10 x 7 = 70',
 '10 x 8 = 80',
 '10 x 9 = 90',
 '10 x 10 = 100']

In [25]:
table = pd.DataFrame({
    "2" : createtable(2),
    "4" : createtable(4),
    "6" : createtable(6),
    "8" : createtable(8),
    "10" : createtable(10),
})

In [26]:
table

             2            4            6            8             10
0    2 x 1 = 2    4 x 1 = 4    6 x 1 = 6    8 x 1 = 8    10 x 1 = 10
1    2 x 2 = 4    4 x 2 = 8   6 x 2 = 12   8 x 2 = 16    10 x 2 = 20
2    2 x 3 = 6   4 x 3 = 12   6 x 3 = 18   8 x 3 = 24    10 x 3 = 30
3    2 x 4 = 8   4 x 4 = 16   6 x 4 = 24   8 x 4 = 32    10 x 4 = 40
4   2 x 5 = 10   4 x 5 = 20   6 x 5 = 30   8 x 5 = 40    10 x 5 = 50
5   2 x 6 = 12   4 x 6 = 24   6 x 6 = 36   8 x 6 = 48    10 x 6 = 60
6   2 x 7 = 14   4 x 7 = 28   6 x 7 = 42   8 x 7 = 56    10 x 7 = 70
7   2 x 8 = 16   4 x 8 = 32   6 x 8 = 48   8 x 8 = 64    10 x 8 = 80
8   2 x 9 = 18   4 x 9 = 36   6 x 9 = 54   8 x 9 = 72    10 x 9 = 90
9  2 x 10 = 20  4 x 10 = 40  6 x 10 = 60  8 x 10 = 80  10 x 10 = 100

In [27]:
zx = ["thiscarrr", "thisbusss", "thisbikee", "thistrain"]