In [1]:
# Numpy: ------

In [2]:
# pandas

In [ ]:
# Pandas : 
    1) Data Exploring
    2) Data Cleaning
    3) Data Manupluatiog
    5) Data Analizing

In [ ]:
# Pandas <--------- numpy

# 2005

# 2008

In [3]:
# sql, csv, excel, json....

In [ ]:
# pandas data structures:
#     1) Series
#     2) DataFrame

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: Loading egg at c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages\darkflow-0.1.0-py3.12-win-amd64.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [5]:
import pandas as pd

In [6]:
mydata = ["car", "bus",  "train", "plan"]

In [7]:
type(mydata)

list

In [12]:
x = pd.Series(mydata)

In [13]:
x

0      car
1      bus
2    train
3     plan
dtype: object

In [14]:
# change index number :

x = pd.Series(mydata, index = ["A", "B", "C", "D"])

In [15]:
x

A      car
B      bus
C    train
D     plan
dtype: object

In [16]:
x["A"]

'car'

In [17]:
x["C"]

'train'

In [18]:
# dataframe:

In [20]:
data = {
    "Stu_Name" : ["Kriss", "moris", "Hlo", "Ayush", "Globel"],
    "Stu_Age" : [20, 34, 12, 34, 25]
}

In [21]:
mydata = pd.DataFrame(data)

In [22]:
mydata

  Stu_Name  Stu_Age
0    Kriss       20
1    moris       34
2      Hlo       12
3    Ayush       34
4   Globel       25

In [23]:
type(mydata)

pandas.core.frame.DataFrame

In [24]:
mydata

  Stu_Name  Stu_Age
0    Kriss       20
1    moris       34
2      Hlo       12
3    Ayush       34
4   Globel       25

In [25]:
# get column form a dataframe:

In [27]:
zx = mydata["Stu_Name"]

In [28]:
type(zx)

pandas.core.series.Series

In [29]:
zx

0     Kriss
1     moris
2       Hlo
3     Ayush
4    Globel
Name: Stu_Name, dtype: object